<br>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form #userForm="ngForm" (ngSubmit)="OnSubmit(userForm)" action="/action_page.php">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input  type="text" id="fname" name="name" placeholder="Name">

            <label for="email"><i class="fa fa-envelope"></i> TZ</label>
            <input type="number" id="TZ" name="id" placeholder="ID">

            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="Address">
            
            <!-- <label for="city"><i class="fa fa-institution"></i> Order num</label>
            <input type="number" id="city" name="orderNum"> -->

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="NY">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="text" [(ngModel)]="model.Number" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" maxlength="16" minlength="16">
            <!-- <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September"> -->

            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Date</label>
                <input type="text" [(ngModel)]="model.Validity" id="expyear" name="expyear" placeholder="2018" maxlength="4" pattern="[0-9]">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" [(ngModel)]="model.CVV" id="cvv" name="cvv" placeholder="352" maxlength="3">
              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" (change)="toggleEditable($event)" checked="checked" name="sameadr"> Save card ditails
        </label>
        <button type="submit" (click)="OnSubmitB(model)" class="btn">Continue to checkout </button>
      </form>
      <button class="btn" (click)="deleteCard(model)">delete exist card</button>
    </div>
  </div>