body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] ,[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ffc107;
    box-sizing: border-box;
  }
  
  .logo-div {
    background-color: #343a40;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .DivImg {
    width: 70%;
    height: auto;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #343a40;
    /* border-radius: 3px */
    border: 2px solid #ffc107;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 16px;
    padding-top: 40px;
  }
  
  span.psw ,span Eml{
    float: right;
    padding-top: 3px;
  }
  
  .SignUp{
    padding-left: 54%;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  /* .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  } */
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }
  
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0)
    }
  
    to {
      transform: scale(1)
    }
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw ,span.Eml{
      /* display: block; */
      float: none;
    }
  
    .cancelbtn {
      width: 100%;
    }
  }
  
  @media screen and (max-width:1300px){
    .SignUp{
        padding-left: 30%;
      }
  }